h3 {
    color: darkblue;
}
.single-container-normal {
    display: grid;
    grid-template-rows: repeat(6, 1fr), 4fr;
    margin: 10px;
    background-color: lightsalmon;
    color: firebrick;
}

.filter-checkbox-container{
    display: flex;
    justify-content: space-around;
}