.vacation-list, .vacation-container-manager {
    background-color: coral;
}

h1, h3{
    text-align: center;
    display: flex;
    justify-content: center;
}

h3{
    color: slateblue;
}


button{
    background-color: pink;
    color:purple
}

.single-container-manager {
    display: grid;
    grid-template-rows: repeat(6, 1fr), 4fr;
    margin: 10px;
    background-color: lightsalmon;
    color: firebrick;
}

img {
    margin: auto;
    display: flex;
    text-align: center;
    width: 700px;
}

.single-container-manager {
    background-color: lightsalmon;
    padding-top: 10px;
    margin-top: 10px;
    color: firebrick;
}

.button-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


